.header-container{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width: 50px;
}

.header-burguer{
    width: 45px;
    height: 20px;
    margin-right: 30px;}

.menu-container{
    display: none;
    width: 60%;
    height: 100vh;
    background-color: white;
}

.menu-container-show{
    display: block;
}

.menu-list{
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}